#content {
    margin-left: 250px;
    margin-top: 20px;
    background-color: #f4f6f9;
    #contentName {
        font-family: cursive;
        font-size: 30px;
    }

    ol {
        position: absolute;
        right: 20px;

        li {
            padding-left: 10px;
        }
    }

}